// SECTION DESCRIPTION

.fupi_section_descr{
	margin: 0 auto 30px;
	padding: 1px 0 21px;
	font-size: 17px;
	max-width: 640px;
	> * {
		font-size: 17px;
	}
	&.fupi_descr_standard_width{
		max-width: 100%;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
	&:not(.fupi_descr_standard_width){
		// center the content of .fupi_section_descr only if it is the only child
		&:has(> :only-child) > :only-child{
			text-align: center;
		}
	}
	button, .button{
		font-size: 14px !important;
	}
	button.fupi_toggle_modules_btn{
		font-size: 14px !important;
		margin-left: 12px;
	}
	p{
		font-size: 17px;
	}
	> p{
		margin-bottom: 10px;
		+p {
			margin-top: 10px;
		}
	}
	ul, ol{
		line-height: 1.5;
	}
	ul{
		list-style-type: disc;
    	padding-left: 1.3em;
	}
		li{
			margin-bottom: 0;
		}
}

.fupi_info_block{
	margin: 40px 0 0;
	padding: 15px 20px 0;
	border: 1px solid #ddd;
	// border-radius: 3px;
	background: #fff;
	position: relative;
}

.fupi_block_title{
	position: absolute;
	top: -13px;
	background: #fff;
	padding: 3px 7px;
	border: 1px solid #ddd;
	// border-radius: 3px;
	font-weight: 600;
	margin: 0;
}

// INFO ABOUT THE STATUS OF INSTALLATION OF A TOOL

.fupi_installation_status{
	margin: 25px 0 0;
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: center;
	> img{
		width: 42px;
	}
	> span.dashicons{
		font-size: 40px !important;
	}
	> p{
		font-size: 17px;
		font-weight: 500;
		margin: 0;
	}
		.fupi_small{
			font-weight: 400;
			font-size: 15px;
		}
}

// WooCommerce info block

.fupi_checked_list{
	list-style-type: none;
	margin: 0;
	padding: 0;
	li{
		margin: 0;
		padding: 0 0 0 35px;
		position: relative;
		&:before{
			content: '\f147';
			font-family: dashicons;
			font-size: 28px;
			line-height: 1;
			position: absolute;
			left: 0;
			top: 0;
		}
	}
}

// "Enable WooCommerce" notice

.fupi_enable_woo_notice{
	background-color: #fff9c8;
    margin: 60px auto;
    padding: 10px 20px;
    font-size: 15px;
	font-weight: 500;
    line-height: 1.2;
	text-align: center;
}

.fupi_woo_reqs_info{
	border-top: 1px solid #ddd;
	padding-top: 20px;
	margin-top: 20px !important;
}