// body[class*="wp-full-picture_page"],
// body[class*="toplevel_page_full_picture"]{
// 	background: #e9f2f7;
// }

#fupi_nav_col{
	font-size: 14px;
	text-align: left;
	border-radius: 20px;
}

@media screen and (min-width: 1100px){
	#fupi_nav_col{
		flex: 0 0 250px;
		width: 250px;
		position: relative;
	}
}

#fupi_side_menu{
	margin-top: 30px;
}

.fupi_sidenav_section{
	+ .fupi_sidenav_section{
		margin-top: 30px;
	}
}

.fupi_sidenav_item:not(h3):not(.fupi_has_subnav){
	margin: 0 12px 0 3px;
}
.fupi_sidenav_item:not(h3){
	font-size: 14px;
	display: block;
	font-weight: normal;
	line-height: 1.2;
	padding: 12px;
	text-align: left;
	text-decoration: none;
	box-sizing: border-box;
	color: #111;
	margin: 2px 3px;
	border-radius: 16px;
	&:not(.fupi_has_subnav){
		&:focus, &:hover{
			background-color: #ffffff;// #bcddf1;
			color: #222;
		}
	}
	img{
		position: relative;
		top: -1px;
		width: 20px;
		height: 20px;
		margin-right: 15px;
		vertical-align: middle;
		float: left;
	}
	.dashicons{
		font-size: 20px !important;
		margin-right: 15px;
		vertical-align: middle;
		line-height: 20px;
		color: #0f8fc2;
		float: left;
	}
	.fupi_sidenav_title{
		max-width: calc(100% - 30px);
		position: relative;
		top: 2px;
		display: block;
	}
	&.fupi_alt_style{
		.fupi_sidenav_title{
			padding-left: 35px;
			display: block;
			line-height: 1.3em;
		}	
	}
	&.fupi_current{
		flex-wrap: wrap;
		color: #111;
		>.fupi_sidenav_title{
			font-weight: 500;
		}
		&:not(:has(.fupi_sidenav_sub_item)){
			background-color: #fff; //#bcddf1;
		}
	}
}

.fupi_sidenav_section_title{
	color: #000;
	padding-left: 15px;
	font-weight: 500 !important;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px !important;
}


.fupi_sidenav_section{
	.fupi_alt_style{
		display: block !important;
		+.fupi_alt_style{
			border-top: 0;
			margin-top: 0 !important
		}
	}
}

#fupi_sidenav_sub{
	margin-top: 12px;
}

	.fupi_sidenav_sub_item{
		font-size: 14px;
		display: block;
		width: 100%;
		font-weight: normal;
		line-height: 1.2;
		padding: 12px 12px 12px 35px;
		text-align: left;
		text-decoration: none;
		box-sizing: border-box;
		color: #000;
		margin: 0;
		border-radius: 11px;
		border: 0;
		background: transparent;
		cursor: pointer;
		&:focus,
		&:hover{
			background-color: #ffffff;//#bcddf1;
		}
		&.active{
			background-color: #fff; //#bcddf1;
		}
		// + .fupi_sidenav_sub_item{
		// 	margin-top: 2px;
		// }
	}

//
// SIDE NAV BANNERS
//

#fupi_sidenav_banner{
	margin: 60px 3px 3px;
}

@media screen and (min-width: 1100px){
	#fupi_sidenav_banner{
		margin: 60px 15px 3px 0;
	}
}

.fupi_getpro_banner{
	padding: 30px 10px 20px;
	border-radius: 20px;
	position: relative;
	background: #2b2b2b;
	h3{
		font-size: 16px;
		color: #fff;
		font-weight: 500;
		margin: 0 0 15px;
		padding: 0;
		text-align: center;
	}
	p{
		color: rgba(255, 255, 255, .9);
		font-size: 15px;
		line-height: 1.3;
		text-align: center;
	}
}

//
// "BUY PRO" BANNER
//

.fupi_getpro_banner{
	.button-primary{
		text-align: center;
		width: 100%;
		padding: 5px;
    	font-size: 15px;
		margin-bottom: 10px;
		background: #deac00;
		&:hover, &:focus{
			background: #ffd64c;
		}
	}
}
	#fupi_getpro_banner_unlock_icon{
		position: absolute;
		top: -25px;
		left: 50%;
		font-size: 30px;
		color: #fff;
		width: 40px;
		height: 40px;
		text-align: center;
		line-height: 30px;
		background-color: #9e3e9f;
		border-radius: 100%;
		margin-left: -20px;
		// transform: scaleX(-1);
		.dashicons{
			width: 30px;
			height: 30px;
		}
	}

// Feature slider
/*
#fupi_feature_slider{
	margin-bottom: 25px;
}
	.fupi_slides{
		margin-bottom: 20px;
	}
		.fupi_slide{
			display: none;
			line-height: 1.05;
			.fupi_slide_main_text{
				font-size: 18px;
				font-weight: 500;
				margin-bottom: 10px;
			}
			&.fupi_active{
				display: block;
			}
			.small{
				font-size: 14px;
				margin: 10px 0 20px;
			}
		}

// Slider nav

.fupi_slider_nav{
	display: flex;
	justify-content: center;
	gap: 12px;
}
	.fupi_slider_dot{
		background-color: #ddd;
		border-radius: 100%;
		width: 12px;
		height: 12px;
		border: 0;
		cursor: pointer;
		&:hover, &:focus{
			background-color: #444;
		}
		&.fupi_active{
			background-color: #444;
		}
	}
*/
// Sticky nav

.fupi_frozen{
	position: absolute;
}

.fupi_stick_top{
	position: sticky;
	top: 0 !important;
}

.fupi_stick_bottom{
	position: fixed;
	bottom: 0;
}