#fupi_top_bar{
    max-width: 480px;
    margin: 20px auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.top_menu_section{
    padding: 3px;
    box-sizing: border-box;
    flex: 0 0 auto;
    background: #274470;
    border-radius: 20px;
}

    .fupi_top_nav_link{
        border-width: 0;
        display: block;
        padding: 8px 18px;
        text-decoration: none;
        color: #cdf1ff;
        text-align: center;
        font-size: 15px;
        cursor: pointer;
        border-radius: 100px;
        background-color: transparent;
        &:hover, &:focus{
            background-color: #fff;
            color: #222;
        }
        &.fupi_current{
            background-color: #fff;
            color: #222;
        }
        >.dashicons{
            margin: -3px 0;
        }
    }

    #fupi_get_pro_link{
        text-align: center;
    }

    #fupi_top_setup_info{
        align-self: center;
        font-size: 15px;
        a {
            display: block;
        }
        strong{
            text-transform: uppercase;
            font-size: 14px;
        }
        .fupi_open_popup_i{
            margin-left: 0;
        }
    }

@media screen and (max-width: 1099px){

    #fupi_top_setup_info{
        order: 1;
        padding: 10px;
    }
    #fupi_pro_nav{
        order: 2;
    }
    #fupi_top_nav{
        margin-top: 15px;
        flex: 0 0 100%;
        order: 3;
        justify-content: center;
    }
        #fupi_pro_nav{
            align-self: flex-start;
        }
        #fupi_get_pro_link{
            flex: 1 1 auto;
            padding: 10px 20px;
        }
}

@media screen and (min-width: 1100px){
    #fupi_top_bar{
        max-width: 1240px;
        width: 100%;
        justify-content: space-between;
        gap: 30px;
    }
        .top_menu_section{
            border-radius: 100px;
            justify-content: space-evenly;
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
        }
            .fupi_top_nav_link{
                display: inline-block;
                padding: 12px 18px;
            }
        
        #fupi_top_setup_info{
            display: flex;
            gap: 10px 30px;
        }
}

@media screen and (max-width: 1099px){
    #fupi_sidenav_banner{
        display: none;
    }
}

// SETUP HELPER NOTIFICATION

#setup_helper_notif_bar{
    max-width: 480px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    border: 1px solid #7d95b4;
    background-color:#fff;
    line-height: 1.3;
    font-size: 15px;
    padding: 12px 15px;
    border-radius: 25px;
    img{
        width: 20px;
        height: 20px;
        display: inline-block;
        margin: -4px 5px;
    }
}

@media screen and (min-width: 1100px){
    #setup_helper_notif_bar{
        max-width: 1240px;
        width: 100%;
    }
}