// LAYOUT

// Overwrites
.fupi_page_home{
    #fupi_main,
    #fupi_main_col{
        padding: 0;
    }
    #fupi_main_col{
        max-width: 100%;
		background-color: transparent;
    }
}

// Grid
.fupi_grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 40px;
}

// Tablet (783px - 1024px) - 2 column grid
@media screen and (min-width: 783px) and (max-width: 1099px) {
    .fupi_grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    // Column span classes
    .t-col-span-1 { grid-column: span 1; }
    .t-col-span-2 { grid-column: span 2; }
}

// Desktop (>1024px) - 6 column grid
@media screen and (min-width: 1100px) {
    .fupi_grid {
        grid-template-columns: repeat(6, 1fr);
    }
    
    // Column span classes
    .d-col-span-1 { grid-column: span 1; }
    .d-col-span-2 { grid-column: span 2; }
    .d-col-span-3 { grid-column: span 3; }
    .d-col-span-4 { grid-column: span 4; }
    .d-col-span-5 { grid-column: span 5; }
	.d-col-span-5 { grid-column: span 6; }
}

// TABS

.fupi_info_tabs{
	display:flex;
	flex-wrap:wrap;
	margin:20px 0 0;
	gap:0 10px
}
	.fupi_info_tabs .fupi_tab{
		order:1;
		flex:0 0 auto;
		border:1px solid #ccc;
		border-bottom:0;
		background-color:#eee;
		padding:7px 18px;
		cursor:pointer;
		font-size:15px;
		border-radius:5px 5px 0 0;
		font-weight:400;
		color:#000
	}
		.fupi_info_tabs .fupi_tab:hover{
			background-color:#fff
		}
	.fupi_info_tabs .fupi_tab.fupi_active{
		font-weight:500;
		background-color:#fff;
		position:relative
	}
	.fupi_info_tabs .fupi_tab.fupi_active+.fupi_tab_content{
		display:block
	}
	.fupi_info_tabs .fupi_tab_content{
		order:2;
		width:100%;
		display:none;
		border-top:1px solid #ccc
	}

// STYLED ORDERED LISTS
.fupi_styled_ol {
	counter-reset: styled-list-counter;
	padding-left: 0;
	margin: 0;

	li {
		counter-increment: styled-list-counter;
		list-style: none;
		position: relative;
		// background-color: #ebf2f6;
		padding: 12px 16px 12px 28px;
		margin-bottom: -4px;
		border-radius: 5px;
		width: 100%;
		box-sizing: border-box;

		&::before {
			content: counter(styled-list-counter);
			position: absolute;
			left: 1px;
			font-weight: bold;
			font-size: 18px;
			color: #1d2327;
		}
	}
}

// HEADER

#fupi_home_header {
	padding: 30px 0;
	// border: 2px solid #ccc;
	// border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 30px;
	flex-wrap: wrap;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}

	#fupi_home_header_title{
		flex: 1 1 240px;
		max-width: 540px;
		min-width: 240px;
		position: relative;
		z-index: 2;
		h2 {
			font-size: 32px;
			margin: 0 0 10px;
			color: #1d2327;
		}
		p {
			font-size: 20px;
			font-weight: 400;
			margin: -8px 0 0;
		}
		.fupi_highlight{
			color: #e89805;
		}
	}
	#fupi_home_header_img{
		flex: 1 1 240px;
		max-width: 260px;
		min-width: 240px;
		position: relative;
		z-index: 2;
		img{
			display: block;
			width: 100%;
		}
	}
    #fp_home_header_icon{
		position: absolute;
		top: -5%;
		right: 10%;
		opacity: 0.7;
		width: 33%;
		min-width: 320px;
		max-width: 400px;
		z-index: 1;
	}


// GENERAL SECTION STYLING

.fupi_home_sections {
	margin-bottom: 40px;
	font-size: 16px;
	ul li, ol li, p{
		font-size: 16px;
	}
	ul{
		list-style-type: disc;
	}
}


.fupi_home_section {
	// background: #fff;
	border: 2px solid #ccc;
	padding: 25px;
	border-radius: 10px;
	line-height: 1.5;
	h3{
		font-size: 24px;
		margin: 0 0 1em;
		font-weight: 400 !important;
	}
}

.fupi_home_upgrade {
	background: #3f6896;
	color: #fff;
	h3 {
		color: #fff;
		border-bottom-color: rgba(255,255,255,0.3);
	}
	p {
		color: rgba(255,255,255,0.95);
	}
	ul li {
		color: rgba(255,255,255,0.95);
	}
}

// Responsive adjustments
@media screen and (max-width: 782px) {
	.fupi_home_welcome {
		padding: 20px;	
		h2 {
			font-size: 24px;
		}
		p {
			font-size: 18px;
		}
	}
}


// PRO BANNER
#fupi_home_getpro{
	background: #2b2b2b !important;
}

	#fupi_getpro_banner_unlock_icon{
		top: -35px;
		margin-left: -30px;
		width: 60px;
		height: 60px;
		.dashicons{
			width: 50px;
			height: 50px;
			line-height: 50px;
			font-size: 50px;
		}
	}

	#fupi_getpro_content_wrap{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		p{
			font-size: 18px;
		}
		> * {
			flex: 1 0 240px;
		}
	}
